// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#back_borda {
    background-color: #FCFFF5;
    text-align: center;
    padding: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    width: 300px;
    padding: 25px;
}