body {
    background-image: url("http://www.hrmasia.com/sites/default/files/16167782_l.jpg");
  background-size: 100% ;}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
	color: #046380;
    text-align: center;
}
#logo {
    color: #002F2F;
    text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 250%;
}
#back_borda {
    background-color: #FCFFF5;
    text-align: center;
    padding: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 4px;
    width: 300px;
    padding: 25px;
}

.quadro {
    background-color: #FCFFF5;
    text-align: left;
    margin: auto;
    margin-top: 2%;
    border-radius: 4px;
    padding: 3px;
    opacity: 0.9;

}

.descricao{
  border: 1px solid #046380;
  padding: 10px 15px;
  display: inline-block;
  color: #046380;
  background-color: #FFFFE0;
}

.descricao a {
  color: #046380; 
  text-decoration: none; 
}

.descricao_admin{
  padding: 10px 15px;
  display: inline-block;
  background-color: #FF0000;
  border-radius: 30px/10px
}

.button {
    background-color: #white;
    border: 2px solid #046380;
    color: #046380;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
}

.button:hover {
    background-color: #046380;
    color: white;
}

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: #666666;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0px; 
  height: 40px;
}

.btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #d2691e;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}

.btn-submit a {
  color: #FFFFFF; 
  text-decoration: none; 
}