<html>
	<title>LiciTI</title>
	<head>
	<link rel="stylesheet" href="home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald" rel="stylesheet">
	</head>
	<body>
		<div id=back_borda>
		<p id="logo">LiciTI</p>
		<p>Login</p>
		<input type="text" name="login"><br>
		<p>Password</p>
		<input type="text" name="password"><br>
		<p><div class="button" value="submit">
		<%= link_to 'Entrar', "/usuario_erro" %>
			</div></p>
		</div>
		
	</body>
</html>

