<html>
	<title>LiciTI</title>
	<head>
	<link rel="stylesheet" href="home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald" rel="stylesheet">
	</head>
	<body>
<!--		<h1>Página em contrução</h1> -->
		
		<div id=back_borda> 
		<h3> Sobre nós: </h3>
		<p>Elverson (developer) : esm6@cin.ufpe.br </p>
		<p>Raphael (product owner/dba) : ras8@cin.ufpe.br</p>
	    <p>Armindo (developer) : aoff@cin.ufpe.br</p>
		<p>Luiz    (developer/design) : lbon@cin.ufpe.br</p>
		  
		</div>

	
	</body>
</html>
