<html>
	<title>LiciTI</title>
	<head>
	<link rel="stylesheet" href="home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald" rel="stylesheet">
	</head>
	<body>

		
		<div id=back_borda> 
		<h3> Sobre nós: </h3>
		<p>Elverson Soares de Melo (developer) : esm6@cin.ufpe.br 
			<a class= button href="http://lattes.cnpq.br/3913276831804193" target="_blank">Clique para ver o lattes</a>
		</p>
		<p>Raphael Alves da Silva (product owner/dba) : ras8@cin.ufpe.br
			<a class= button href="http://lattes.cnpq.br/2535144935692208" target="_blank">Clique para ver o lattes</a>
		</p>
	    <p>Armindo Oliveira Faria Filho (developer) : aoff@cin.ufpe.br
	    	<a class= button href="http://lattes.cnpq.br/8237266943777364" target="_blank">Clique para ver o lattes</a>
	    </p>
		<p>Luiz de Barros Oliveira Neto (developer/design) : lbon@cin.ufpe.br
		<a class= button href="http://lattes.cnpq.br/6630207885007927" target="_blank">Clique para ver o lattes</a>
		</p>
		<div class="descricao"><%= link_to "voltar ",:back %></div>
		</div>

		
	</body>
</html>
