<html>
	<title>LiciTI</title>
	<head>
	<link rel="stylesheet" href="home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald" rel="stylesheet">
	</head>
	<body>
		
		
		<div id=back_borda> 
		<h3> Bem Vindo ao LiCiTI </h3>
		<p>Um SaaS responsável por gerenciar empresas terceirizadas que possam ou não participar de licitações promovidas por órgãos do governo,verificando se estão impugnadas ou não, de acordo com base de dados provida pelo Tribunal de Contas da União.</p>

		<p><div class="btn-submit" value="submit">
                <%= link_to 'Sobre', "/about" %>
                        </div></p>

		</div>

		<p><div class="btn-submit" value="submit">
		<%= link_to 'Log in', "/login" %>
			</div></p>

		
	</body>
</html>
