<html>
<meta charset="UTF-8">
	<title>LiciTI</title>
	<head>
	<link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/admin.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald" rel="stylesheet">
	</head>
	<body>
		<div id=back_borda>
		<p id="logo">LiciTI</p>
		<p id="user">Usuário não cadastrado!</p>
		</div>
		
	</body>
</html>