<p><div class="button" value="submit">
	<%= link_to 'Listar Todos os usuários cadastrados', "/admin/usuarios" %>
</div></p>


<p><div class="button" value="submit">
	<%= link_to 'Voltar', "/conteudo" %>
</div></p>